h1{text-align: center}
table{width:100%}
td{width:50%; text-align: center}
<style>
#myDIV {
  line-height: 16px;
  animation: mymove 5s infinite;
}

@keyframes mymove {
  50% {line-height: 50px;}
}
</style>
.XXS{font-size:XX-small;}
.XS{font-size:X-small;}
.S{font-size:small;}
.M{font-size:medium;}
.L{font-size:large;}
.XL{font-size:X-large;}
.XXL{font-size:XX-large;}
